* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D5E1EF;
}
.main img {
    width: 18rem;
    border-radius: 1rem;
}
.main {
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 13% auto;
    text-align: center;
    background-color: white;
    width: 20em;
    height: 30rem;
    color: #8e9194;
}
p {
    background-color: white;
    margin: 1rem auto;
    width: 17rem;
}
.sub-title {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}
